/**********************************************/
/*    RESET DEFAULTS                          */
/**********************************************/
* {
	margin:0px;
	padding:0px;
}

/**********************************************/
/*    STRUCTURE                               */
/**********************************************/
#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:75%;
}

/**********************************************/
/* SOCIAL LINKS                               */
/**********************************************/
#topLinksContainer .socialLinksList li{
	float:left;
	padding:10px;
}

#topLinksContainer .contactLinksList li{
	float:right;
	padding:10px;
}

/**********************************************/
/*    NAV BAR                                 */
/**********************************************/
#nav  li{
	display:inline;
	margin-left:10px;
}

#nav li ul{
	margin-left:50px;
}

/**********************************************/
/*    BLOG FORM                               */
/**********************************************/

form input,label,textarea{
	float:left;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}
form {
	margin-left:auto;
	margin-right:auto;
	width:55%;
}
form input[type="reset"] {
	clear:left;
	display:block;
}
form input[type="submit"] { 
	clear:none;
	display:block;
}