#<ifModule mod_rewrite.c>
#	RewriteEngine on
#	RewriteCond $1 !^(index\.php|github\.php|images|js|css|fonts|robots\.txt)
#	RewriteRule ^(.*)$ /index.php/$1 [L]
#</ifModule>

<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	# Don’t compress
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
	SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
	#Dealing with proxy servers
	<IfModule mod_headers.c>
		Header append Vary User-Agent
	</IfModule>
</IfModule>

#<FilesMatch "\.(js|css|jpg|jpeg|png|gif|swf)$">
#    Header set Cache-Control "max-age=604800, public"
#</FilesMatch>